@keyframes tab-select {
  from { border-bottom: none; }
  to   { background-color: #063852; }
}

.project-list {
  margin: 0;
  align-items: flex-end;
  text-align: center;
}

.project-tab {
  padding: 1rem 1.5rem;
  /* outline removes Junk pixels left behind from the keyframe animation*/
  outline: 1px solid transparent;
  color: #666666;
}

.project-tab:hover {
  cursor: pointer;
}

.active {
  animation: .5s tab-select;
  animation-fill-mode: forwards;
  color: #ffffff;
  border-bottom: none;
}

@media (min-width: 1px) and (max-width: 700px) {
  .project-list {
    padding: 0;
  }
}

@media (min-width: 1px) and (max-width: 515px) {
  .project-tab {
    padding: 1rem;
    font-size: .8rem;
  }
}
