.project-list {
  justify-content: space-around;
  width: 50vw;
}

.project-tab {
  padding: 1rem;
  /* outline removes Junk pixels left behind from the keyframe */
  outline: 1px solid transparent;
}

.project-tab:hover {
  cursor: pointer;
}

@keyframes tab-select {
  from { border-bottom: none; }
  to   { border-bottom: 2px solid #ffffff; }
}

.active {
  /* animation: 1s tab-select; */
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  animation-fill-mode: forwards;
}
