.about {
  text-align: center;
  height: 100%;
  width: auto;
  padding: 5%;
}

.about-body{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about-map {
  max-width: 450px;
  width: 100%;
  display: block;
  -moz-box-shadow:    3px 3px 10px 1px black;
  -webkit-box-shadow: 3px 3px 10px 1px black;
  box-shadow:         3px 3px 10px 1px black;
  }

.about-headshot {
  border-radius: 5%;
  width: 300px;
  height: auto;
  -moz-box-shadow:    3px 3px 10px 1px black;
  -webkit-box-shadow: 3px 3px 10px 1px black;
  box-shadow:         3px 3px 10px 1px black;
}

.about-links {
  margin-top: 1.5rem;
}

.about-links a{
  margin: 1rem;
  color: #666666;
}

@media (min-width: 1px) and (max-width: 905px) {
  .about-body {
    flex-direction: column;
  }

  .about-info {
    margin-top: 4rem;
  }

  .about-links a {
    margin: .5rem;
  }
}
