/* @@keyframes fadein {
  from {left: 0;}
  to { left: 15px;}
} */

.project-container {
  align-items: center;
  height: 80vh;
  display: flex;
  padding: 2rem;
  background-color: #063852;
  color: #ffffff;
}

.project-preview {
  width: 50%;
  height: auto;
  text-align: center;
  margin: auto;
}

.project-img {
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

.project-details {
  text-align: center;
  width: 45vw;
  height: 5vh;
  margin: 0 auto;
}

.project-buttons {
  display: flex;
  justify-content: center;
}

.btn {
  padding: .5rem 2rem;
  border: 2px solid #ffffff;
  margin: 1rem;
  transition: 0.1s background-color linear, 0.1s color linear;
}

.btn:hover {
  background-color: #ffffff;
  color: #063852;
}
