html, body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}

body {
  height: auto;
  width: auto;
}

a, a:visited, a:focus, a:active, a:hover {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
  display: flex;
}

.section {
  padding: 15vh 8vh;
}

.title {
  margin: 1rem 0;
  text-align: center;
  font-size: 2.5rem;
  font-family: Helvetica;
}
